.sales-child {
  position: absolute;
  top: 12px;
  left: 50px;
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 295px;
  height: 650px;
}
.others-1-icon3,
.others5 {
  position: absolute;
  top: 0;
  left: 39px;
}
.others-1-icon3 {
  top: 1px;
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.others-parent1 {
  position: absolute;
  top: 592px;
  left: 78px;
  width: 140px;
  height: 32px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.purchase-1-icon3,
.purchase3 {
  position: absolute;
  top: 0;
  left: 45px;
}
.purchase-1-icon3 {
  left: 0;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.purchase-parent1 {
  position: absolute;
  top: 332px;
  left: 72px;
  width: 182px;
  height: 32px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.items3 {
  position: absolute;
  top: 4px;
  left: 54px;
}
.add-items-1-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.items-parent1 {
  position: absolute;
  top: 263px;
  left: 63px;
  width: 128px;
  height: 40px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.accounting3 {
  position: absolute;
  top: 0;
  left: 42px;
}
.accounting-parent1 {
  position: absolute;
  top: 462px;
  left: 75px;
  width: 216px;
  height: 32px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.sales-item {
  position: absolute;
  height: 4.72%;
  width: 14.89%;
  top: 3.06%;
  right: 99.31%;
  bottom: 86.22%;
  left: 5.90%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.sales-inner {
  position: absolute;
  top: 183px;
  left: 50px;
  border-radius: 0 var(--br-16xl) var(--br-16xl) 0;
  background-color: var(--color-lightseagreen-100);
  width: 262px;
  height: 70px;
}
.vector-icon3 {
  position: absolute;
  height: 93.75%;
  width: 14.49%;
  top: 3.13%;
  right: 85.51%;
  bottom: 3.13%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.dashboard-container,
.master-data-parent1 {
  position: absolute;
  top: 122px;
  left: 67px;
  width: 207px;
  height: 32px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.master-data-parent1 {
  top: 397px;
  left: 75px;
  width: 212px;
}
.sales4 {
  position: absolute;
  top: 0;
  left: 49px;
}
.gst-returns-parent1,
.sales-parent1 {
  position: absolute;
  top: 202px;
  left: 68px;
  width: 128px;
  height: 32px;
  font-size: var(--font-size-6xl);
}
.gst-returns-parent1 {
  top: 527px;
  left: 78px;
  width: 208px;
  cursor: pointer;
  color: var(--color-black);
}
.group-child12 {
  border-radius: var(--br-3xs);
  background-color: var(--color-lightseagreen-200);
}
.group-child12,
.rectangle-wrapper1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 240px;
  height: 90px;
}
.logout-1-icon3,
.nehal3 {
  position: absolute;
  top: 29px;
  left: 78px;
}
.logout-1-icon3 {
  top: 25px;
  left: 185px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.group-child13 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lightseagreen-100);
  width: 60px;
  height: 60px;
}
.short-hair-man-with-vr-1-icon6 {
  position: absolute;
  top: 8.3px;
  left: 7.4px;
  width: 46.2px;
  height: 43.4px;
  object-fit: cover;
}
.ellipse-parent3 {
  position: absolute;
  top: 15px;
  left: 8px;
  width: 60px;
  height: 60px;
}
.admin3 {
  position: absolute;
  top: 55px;
  left: 105px;
  font-size: var(--font-size-3xs);
  font-weight: 200;
}
.group-parent2 {
  position: absolute;
  top: 686px;
  right: 1150px;
  width: 240px;
  height: 90px;
  cursor: pointer;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
}
.sales-child1 {
  position: absolute;
  top: 12px;
  left: calc(50% - 351px);
  border-radius: var(--br-6xl);
  background-color: var(--color-white);
  width: 990px;
  height: 78px;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-lightseagreen-100);
  width: 65px;
  height: 65px;
}
.short-hair-man-with-vr-1-icon7 {
  position: absolute;
  top: 9px;
  left: 8px;
  width: 50px;
  height: 47px;
  object-fit: cover;
}
.ellipse-parent4 {
  position: absolute;
  top: 20px;
  left: 1279px;
  width: 65px;
  height: 65px;
}
.notification-1-icon3 {
  position: absolute;
  top: 30px;
  left: 1199px;
  width: 45px;
  height: 45px;
  overflow: hidden;
}
.group-child15,
.sales-child2 {
  position: absolute;
  top: 20px;
  left: 1099px;
  width: 65px;
  height: 65px;
}
.group-child15 {
  top:0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray);
  box-sizing: border-box;
  width: 200px;
  height: 45px;
}
.search-1-icon3 {
  position: absolute;
  top: 10px;
  left: 13px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.search-for-something3 {
  position: absolute;
  top: 15px;
  left: 48px;
}
.rectangle-parent4,
.sales5 {
  position: absolute;
  color: var(--color-black);
}
.rectangle-parent4 {
  top: 30px;
  left: 864px;
  width: 200px;
  height: 45px;
  font-size: var(--font-size-smi);
}
.sales5 {
  top: 34px;
  left: calc(50% - 323px);
  font-size: var(--font-size-11xl);
}
.group-child16 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--color-lightseagreen-300);
  width: 200px;
  height: 200px;
}
.invoice1 {
  position: absolute;
  top: 145px;
  left: 45px;
}
.bill-folder-1-icon1 {
  position: absolute;
  top: 13px;
  left: 35px;
  width: 130px;
  height: 130px;
  object-fit: cover;
}
.rectangle-parent5 {
  position: absolute;
  top: 100px;
  left: 660px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.customers {
  position: absolute;
  top: 145px;
  left: 17px;
}
.add-friend-1-icon {
  position: absolute;
  top: 12px;
  left: 25px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}
.rectangle-parent6 {
  position: absolute;
  top: 100px;
  left: 410px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.e-invoicing {
  position: absolute;
  top: 145px;
  left: 13px;
}
.e-way-bill-1-icon {
  position: absolute;
  top: 28px;
  left: 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.rectangle-parent7 {
  position: absolute;
  top: 100px;
  left: 907px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.e-way-bill {
  position: absolute;
  top: 145px;
  left: 25px;
}
.e-way-bill-copy-1 {
  position: absolute;
  top: 32px;
  left: 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.rectangle-parent8,
.sales-inner1 {
  position: absolute;
  bottom: 0px;
  right: 10px;
  width: 200px;
  height: 200px;
}
.rectangle-parent8{
  bottom: 110px;
}
.sales-inner1 {
  top: 210px;
  left: 1165px;
  cursor: pointer;
}
.sales-order {
  position: absolute;
  top: 142px;
  left: 10px;
}
.place-order-1-icon {
  position: absolute;
  top: 24px;
  left: 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.rectangle-parent9 {
  position: absolute;
  top: 320px;
  left: 410px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.delivery {
  margin: 0;
}
.deli1{
  position: absolute;
  bottom:45px;
}
.deli2{
  position: absolute;
  bottom: 18px;
  left: 20px;
}
.delivery-1-icon,
.delivery-challan {
  position: absolute;
  top: 125px;
  left: 35px;
}
.delivery-1-icon {
  top: 24px;
  left: 50px;
  width: 100px;
  height: 103.6px;
  object-fit: cover;
}
.rectangle-parent10 {
  position: absolute;
  top: 320px;
  left: 660px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  text-align: center;
}
.credit-note {
  position: absolute;
  top: 141px;
  left: 15px;
}
.card-payment-1-icon {
  position: absolute;
  top: 25px;
  left: 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-parent11 {
  position: absolute;
  top:320px;
  left: 910px;
  width: 200px;
  height: 200px;
  cursor: pointer;
}
.payments-due {
  position: absolute;
  top: 125px;
  left: 36px;
}
.payment-error-1-icon {
  position: absolute;
  top: 25px;
  left: 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.rectangle-parent12 {
  position: absolute;
  top: 320px;
  left: 1155px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  text-align: center;
}
.payments-received {
  position: absolute;
  top: 123px;
  left: 28px;
}
.payments-recieved-1 {
  position: absolute;
  top: 23px;
  left: 50px;
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-parent13 {
  position: absolute;
  top: 545px;
  left: 410px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  text-align: center;
}
.customer-ledger {
  position: absolute;
  top: 123px;
  left: 23px;
}
.customer-ledger-1 {
  position: absolute;
  bottom: 160px;
  left: 40px;
  width: 120px;
  height: 120px;
  overflow: hidden;
}
.group-parent3 {
  position: absolute;
  top: 655px;
  left: 673px;
  width: 200px;
  height: 200px;
  cursor: pointer;
  text-align: center;
}
.sales3 {
  width: 100%;
  position: relative;
  background: linear-gradient(rgba(31, 170, 178, 0.5), rgba(31, 170, 178, 0.5)),
    #fff;
  height: 789px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
  font-family: var(--font-plus-jakarta-sans);
}
